.grid{
    display: grid;
}

.nav-grid{
    grid-template-areas: 
            "a . . . . . . . . . . . . . . . . . . . b c d";
}

.portfolio-card-grid-left{
    grid-template-columns: 2.5fr 1.5fr;
    align-items: center;
    line-height: 0.7;
}

.portfolio-card-grid-right{
    grid-template-columns: 1.5fr 2.5fr;
    align-items:center;
    line-height: 0.7;
}

.about-container-grid-part1{
    grid-template-columns: 1fr 1fr;
}

.about-container-grid-part2{
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.interests-card-grid{
    grid-template-columns: 1fr 6fr;
    column-gap: 2rem;
}

.contact-part1-grid{
    grid-template-columns: 1fr 1fr;
}

.welcome-grid{
    grid-template-columns: 2.5fr 1.5fr;
}