* { box-sizing: border-box; }

body{
    font-family: 'Mandali', Verdana, sans-serif;
}

header{
    background-image: url(../img/home-background.webp);
    background-size: cover;
}

.sticky{
    /* background-color: black; */
    background-color: white;
    padding: 0.8rem 1rem;
}
.sticky a{
    /* color:white; */
}

.logo{
    font-family: 'Bungeeshade', Verdana, sans-serif;
    font-weight: normal;
    font-size: 1.1rem;
    letter-spacing: 0.2rem;
}

h1{
    margin-top: 0;
    padding-top: 5rem;
    text-align:center;
    letter-spacing: 0.3rem;
}

h2{
    font-family: 'Lato', Verdana, sans-serif;
    font-weight: normal;
    text-align:center;
    padding-top: 1rem;
    margin-bottom: 2rem;
    color: #5f5f5f;
    font-size: 1.2rem;
    letter-spacing: 0.04rem;
}

h3{
    font-family: 'Lato', Verdana, sans-serif;
    font-weight: normal;
    padding-top: 2rem;
    text-align:center;
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

h4{
    font-size: 1.5rem;
    transition: background-color 0.4s ease-in-out;
    letter-spacing: 0.05rem;
}

.work-subtitle{
    font-family: 'Lato', Verdana, sans-serif;
    font-weight: normal;
    font-size: 0.85rem;
    color: #6e6e6e;
    transition: background-color 0.4s ease-in-out;
    letter-spacing: 0.04rem;
}

img{
    max-width:100%;
    height:auto;
}

.container{
    position:relative;
    overflow: hidden;
}

.img-wrapper{
    z-index:1;
    position:absolute;
    bottom: 0;
}

.container p{
    text-align: center;
    font-size: 10rem;
    font-family: 'Corinthia', Verdana, sans-serif;
    letter-spacing: 2.5rem;
    padding-top: 10%;
    margin-bottom: 10%;
}




#computer-img{
    max-width:50%;
    height:auto;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.a{
    grid-area: a;
}

.b{
    grid-area: b;
}

.c{
   grid-area: c;
}

.d{
   grid-area: d; 
}

nav{
    text-align: center;
    padding:1.5rem 1rem 1rem;
    font-size: 1.1rem;
    position:fixed;
    z-index: 2;
    width:100%;
    transition:0.6s;
}

a{
    color:black;
    text-decoration: none;
}

main{
    margin-left: 10%;
    margin-right: 10%;
}

section{
    margin-top:2rem;
    margin-bottom: 2.5rem;
}

.card-container:hover, .card-container:focus{
    background-color: black;
}

.card-container:hover .overlay, .card-container:focus .overlay{
    opacity: 1;
}

.card-container:hover h4, .card-container:focus h4{
    color:white;
}

.card-container:hover .work-subtitle, .card-container:focus .work-subtitle{
    color:rgb(195, 195, 195);
}


.detail-wrapper{
    text-align: center;
}

.card-container{
    background-color: rgba(217,217,217,0.6);
    transition: background-color 0.4s ease-in-out;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.45);
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.project-img-wrapper{
    position: relative;
}
