@media(min-width:20rem){
    main{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        text-align: center;
        font-size: 1.2rem;
        padding-top: 4rem;
    }

    h2{
        text-align: center;
        font-size: 0.8rem;
    }

    video{
        width:100%;
        height:auto;
    }

    p{
        font-family: 'Lato',Verdana,sans-serif;
        font-size: 0.6rem;
        line-height: 1.3;
    }

    .step-grid p{
        margin-left:0;
        margin-right: auto;
    }
}

@media(min-width:48rem){
    p{
        width:80%;
        font-size: 0.8rem;
        line-height: 1.3;
        margin-right: 0;
        margin-left: auto;
    }
}

@media(min-width:80rem){
    h1{
        text-align: center;
        font-size: 2rem;
        padding-top: 6rem;
    }

    h2{
        font-size: 1.3rem;
    }

   

    p{
        width: 70%;
        font-size: 0.9rem;
    }
}

@media(min-width:100rem){
    h1{
        text-align: center;
        font-size: 3rem;
        padding-top: 6rem;
    }

    h2{
        font-size: 2rem;
    }

    p{
        font-size: 1.3rem;
    }
}